

@if (loading) {
  <div class="d-flex align-center justify-content-center overlay">
    Loading ...
  </div>
}@else{
  <div class="wrapper">
    <div class="card">
      <section>
        <form (ngSubmit)="search(city.value)">
          <div class="search-container">
            <img src="./assets/search.svg" alt="">
            <input type="text" placeholder="Search City" #city [(ngModel)]="city" />
          </div>
        </form>
        <div id="location-info">
          <div class="d-flex flex-column align-center">
            <h3>
              <strong>{{weather_data.location.city}}</strong>, {{weather_data.location.country}}
              <span>{{weather_data.location.timezone_id}}</span>
            </h3>
            <div class="weather-container">
              <div [ngSwitch]="weather_data.current_observation.condition.code">
                <div *ngSwitchCase="4"><img src="./assets/storm.png" alt="" width="200px"></div>
                <div *ngSwitchCase="26"><img src="./assets/sun-cloud.png" alt="" width="200px"></div>
                <div *ngSwitchCase="28"><img src="./assets/sun-cloud.png" alt="" width="200px"></div>
                <div *ngSwitchCase="11"><img src="./assets/weather.png" alt="" width="200px"></div>
                <div *ngSwitchCase="12"><img src="./assets/weather.png" alt="" width="200px"></div>
                <div *ngSwitchCase="45"><img src="./assets/sun-cloud.png" alt="" width="200px"></div>
                <div *ngSwitchDefault><img src="./assets/sun.png" width="200px"></div>
              </div>
              <div class="temperature-container text-center">
                <div class="temperature-count">
                  {{(weather_data.current_observation.condition.temperature-32) * 5/9 | currency:' '}}
                  <span class="degree">o</span>
                  <span class="celsius-ico">c</span>
                </div>
                <p>{{weather_data.current_observation.condition.text}} today</p>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div>Wind :<br> {{weather_data.current_observation.wind.speed}}km/hr</div>
          <div>Humidity:<br> {{weather_data.current_observation.atmosphere.humidity}}</div>
          <div>Astronomy:<br> {{weather_data.current_observation.astronomy.sunrise}}</div>
        </div>

      </section>
      <section>
        <h3>Daily Weather Forecast</h3>
        <div class="h-scroll d-flex" id="daily-forecast-wrapper">
          @for(forecast of weather_data.forecasts;track forecast){
            <div class="card">
              <div [ngSwitch]="forecast.code">
                <div *ngSwitchCase="4"><img src="./assets/storm.png" alt=""></div>
                <div *ngSwitchCase="45"><img src="./assets/sun-cloud.png" alt=""></div>
                <div *ngSwitchCase="26"><img src="./assets/sun-cloud.png" alt="" width="200px"></div>
                <div *ngSwitchCase="28"><img src="./assets/sun-cloud.png" alt="" width="200px"></div>
                <div *ngSwitchCase="11"><img src="./assets/weather.png" alt=""></div>
                <div *ngSwitchCase="12"><img src="./assets/weather.png" alt=""></div>
                <div *ngSwitchCase="13"><img src="./assets/sun-cloud.png" alt=""></div>
                <div *ngSwitchDefault><img src="./assets/sun.png"></div>
              </div>
              <h3>{{forecast.day}}</h3>
              <small>{{forecast.date | date:'dd-MMM-yyyy'}}</small>

            </div>
          }

        </div>
      </section>
    </div>
  </div>
}
